$clBlue: #001853;
$clYellow: #EAE440;
$clDarkBlue: #010D26;
$clWhite: #ffffff;
$clBlack: #1C1C1C;
$clLightGrey: #F5F5F6;
$clDarkGrey: #F3F3F3;
$clRed: #E74C3C;
$clOrange: #FC8233;
$clGreen: #2FCB71;
$clTextGrey: rgba(28, 28, 28, 0.6);