$szContainerWidth: 1258px;
$szContainerPadding: 20px;


$szFontLight: 10px;
$szFontSmall: 12px;
$szFontRegular: 14px;
$szFontMedium: 16px;
$szFontBig: 18px;

$szFontLogo: 24px;

$szPageHeader: 26px;

$szFontSubitemHeader: 20px;
$szFontSubitemHeader-mob: 18px;

$szFontItemHeader: 22px;
$szFontItemHeader-mob: 18px;

$szFontCompanyHeader: 26px;

$szFontSectionHeader: 28px;
$szFontSectionHeader-mob: 22px;

$szFontHeaderBlack: 48px;
$szFontHeaderBlack-mob: 28px;