// local font mixin example
// @include font-face('Museo', 'Museo-Medium', '../fonts/', 'Museo-Medium', 500, normal);

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'PT Serif', sans-serif;
$font-weight-light: 300;
$font-weight-primary: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-primary;
  color: $clBlack;
}


@include respond-to('mobile') {}

@include respond-to('tablet') {}